@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500&display=swap");

html {
  cursor: none;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.title {
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-transform: uppercase;
}

.nav-block--t {
  border-bottom: 1px solid black;
}

.nav-block--b {
  border-top: 1px solid black;
}

.nav-item {
  padding: 15px;
  border-bottom: 1px solid black;
}
.nav-block a:last-child .nav-item {
  border-bottom: none;
}
.nav-block--t a:first-of-type .nav-item {
  border-top: 1px solid black;
}

.quad-grid {
  flex: 1;
  display: flex;
}

.quad-grid-half {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.quad-grid-half:first-child {
  border-right: 1px solid black;
}

.quad-grid-item {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quad-grid-item:first-child {
  border-bottom: 1px solid black;
}
